.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.peculiarities-sections {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin: -15px;
  }
}

.peculiarities-sections__link {
  display: block;
  width: 100%;
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}
.peculiarities-sections__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
.peculiarities-sections__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  border-radius: 4px;

  height: 120px;
  margin-bottom: 30px;
}
.peculiarities-sections__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
