.peculiarities {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.peculiarities-sections {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.peculiarities-sections__link:not(:last-child) {
  @media screen and (min-width: 480px) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.peculiarities-sections__link:nth-last-child(even) {
  @media screen and (min-width: 768px) {
    margin-right: 30px;
  }
}
.peculiarities-sections__link:nth-last-child(-n + 2) {
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.peculiarities-sections__link {
  display: block;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.peculiarities-sections__title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.peculiarities-sections__svg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  border-radius: 4px;

  height: 120px;
  margin-bottom: 30px;
}
.peculiarities-sections__paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
