.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color-studio {
  color: var(--logo-color-studio);
}
.logo-navigation {
  display: flex;
  color: var(--acsent-color);

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo-header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo-footer {
  display: flex;

  margin-bottom: 20px;
  color: var(--acsent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo-color-studio-footer {
  color: var(--logo-color-studio-footer);
}
