:root {
  --title-text-color: #212121;
  --primery-text-color: #757575;
  --acsent-color: #2196f3;
  --color-logo: #2196f3;
  --logo-color-studio: #212121;
  --logo-color-studio-footer: #ffffff;
  --logo-color-web: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --third-background-color: #f5f4fa;
  --button-hover-color: #188ce8;
  --fill-color: #afb1b8;
  --fill-color-focus: #ffffff;
  --border-color-icons: #afb1b8;
  --page-header-border-color: #ececec;
  --text-color-white: #ffffff;
}
